<!DOCTYPE html>
<!--web gallery-->
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="/style.css">
		<title>My Web Gallery</title>
	</head>
	<body>

		<h2>Sign in</h2>

		<%= form_for :session, url: session_path do |form| %>
			<div>
				<%= form.label :email %>
				<%= form.email_field :email %>
			</div>

			<div>
				<%= form.label :password %>
				<%= form.password_field :password %>
			</div>

			<div>
				<%= form.submit "Sign in" %>
			</div>


			<% end %>
	</body>