<h2>Edit gallery</h2>
<%= @gallery.name %>

<%= form_for @gallery, url: "/galleries/#{@gallery.id}" do |form| %>
	<div>
		<%= form.label :name %>
		<%= form.text_field :name %>
	</div>

	<div>
		<%= form.label :description %>
		<%= form.text_area :description %>
	</div>

	<div>
		<%= form.submit "Update Gallery" %>
	</div>
<% end %>