
<!DOCTYPE html>
<!--web gallery-->
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="/style.css">
		<title>My Web Gallery</title>
	</head>
	
<h2>New Gallery</h2>

<%= form_for @gallery do |form| %> 

<%= render "error_messages", target: @gallery %>

	<div>
		<%= form.label :name %>
		<%= form.text_field :name %>
	</div>

	<div>
		<%= form.label :description %>
		<%= form.text_area :description %>
	</div>

	<div>
		<%= form.submit "Create Gallery" %>
	</div>
<% end %>