<h2><%= @gallery.name %></h2>
<p><%= @gallery.description %></p>
	<%= link_to "home", root_path %>
<p><%= link_to "Edit Gallery", [:edit, @gallery] %></p>
	<% @gallery.images.each do |image| %>
	
	<%= image_tag image.url %>
	<% end %>
<p><%= link_to "Delete Gallery", [@gallery], method: :delete %>
<p><%= link_to "Add an image", [:new, @gallery, :image] %>
<p><%= link_to "Edit an image", [:edit, @image, @gallery] %></p>





