<!DOCTYPE html>
<!--web gallery-->
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="/style.css">
		<title>My Web Gallery</title>
	</head>
	
	<body>
	<h2><%= @gallery.name %></h2>
	<p>Proudly owned by <%= @gallery.user.email %></p>
	<p><%= @gallery.description %></p>
		<% if current_user == @gallery.user %>
		<p><%= link_to "Edit Gallery", [:edit, @gallery] %></p>
		<p><%= link_to "Delete Gallery", [@gallery], method: :delete %>
		<p><%= link_to "Add an image", [:new, @gallery, :image] %>

		<% end %>
	
		<% @gallery.images.each do |image| %>
      <%= link_to image do %>
      <%=  image_tag image.url %>
    <% end %>
      <p><%= link_to "Edit image", [:edit, image] %></p>
      <p><%= link_to "View Image", [image] %></p>
			<%= time_ago_in_words image.created_at %>
		<% end %>

	</body>
