
<!DOCTYPE html>
<!--web gallery-->
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="/style.css">
		<title>My Web Gallery</title>
	</head>
	

<h2>Edit Images</h2>

<%= form_for [@gallery, @image] do |form| %>
	<%= render "error_messages", target: @image %>
	<%= form.label :url, "URL" %>
	<%= form.text_field :url %>

	<%= form.submit "Edit image" %>

<% end %>


