<h2><%= image_tag @image.url %></h2>


<%= render "likes", target: @image %>

<div>
  <h2> Tags </h2>
  <% @tagged_images.each do |tag| %> 
    <%= link_to tag.name, tag  %> 
<% end %>
</div>

<div>
  <h4> <%= link_to "Make a new Tag", [:new, :tag] %></h4>
</div>

<%= form_for [@image] do |form| %>
  <%= form.text_field :tag_list  %>
<%= form.submit "Tag image" %>
<% end %>


<div>
  <%= form_for [@image] do |form| %>
    <h4>  <%= form.label "Groups" %></h4>
  <h6> <%= form.collection_check_boxes :group_ids, @groups, :id, :name  %></h6>   
  <%= form.submit "Add to Group" %>
<% end %>
</div>

<h2>Comments</h2>
<div>
  <%= form_for [@image, @comment] do |form| %>
    <%= render "error_messages", target: @comment %>

  <h4> <%= form.label :body, "Make a new Comment"  %></h4>
  <%= form.text_area :body %>
  <%= form.submit "Submit" %>
<% end %>
</div>

<% @comments.each do |comment| %>
  <p> <%= comment.body %></p>
<h6><%= time_ago_in_words(comment.created_at) %> ago, by:
  <%= comment.user.email %> </h6>

<% end %>
