<h2><%= image_tag @image.url %></h2>

<%= form_for [@image, @comment] do |form| %>
  <%= render "error_messages", target: @comment %>

<%= form.label :body, "New Comment"  %>
<%= form.text_area :body %>
<%= form.submit "Submit" %>
<% end %>

<%= render "likes" %>

<div>
  <h4> THE TAGS </h4>
<% @tagged_images.each do |tag| %> 
  <%= link_to tag.name, @tag  %>
<% end %>
</div>

<div>
<%= link_to "Make a new Tag", [:new, :tag] %>
</div>

<%= form_for [@image] do |form| %>
  <%= form.label "Tags" %>
  <%= form.text_field :tag_list  %>
  <%= form.submit "Tag image" %>
<% end %>


<div>
  <%= form_for [@image] do |form| %>
    <%= form.label "Groups" %>
  <p> <%= form.collection_check_boxes :group_ids, @groups, :id, :name  %></p>
  <%= form.submit "Add to Group" %>
<% end %>

</div>

<h2>Comments</h2>

<% @comments.each do |comment| %>
  <p> <%= comment.body %></p>
<p><%= time_ago_in_words(comment.created_at) %> ago</p>
<p><%= comment.user.email %> </p>

<% end %>
